<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Info</title>


    <link rel="stylesheet" type="text/css" href="../static/css/mygroups.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='studi_icon.ico') }}">
    <script src="../static/js/main/map.js"></script>
    <!--<script src="../extern/api/googlemaps" async defer></script>-->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <!--<script src="../static/js/main.js"></script>-->
    <!--<script src="../static/js/main/nav.js"></script>-->

    <!--<script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>-->
    <!--<link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />-->

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <div id="container">
        <div id="group-list">
            {% for g in groups %}
                <div class="group-list-item">
                    <a href="/group_info/{{ g.id }}">Group ({{ g.topic }})</a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>