<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studi</title>


    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />

    <script src="../static/js/main/map.js"></script>
    <script src="../extern/api/googlemaps">async defer></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <div id="container">
        <div id="fixed-elements">
            <div id="top-bar" class="navbar">
            <div id="left-menu">
                This is the menu bar
            </div>
            <div id="search-bar">
                This could be a search field
            </div>
            <div id="right-menu">
                And this another menu button
            </div>
        </div>
        </div>

        <div id="map"></div>
    </div>
</body>
</html>