<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studi</title>


    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />

    <script src="../static/js/main/map.js"></script>
    <script src="../extern/api/googlemaps">async defer></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>

    <style>

    </style>
</head>
<body>
    <div id="container">
        <div id="top-bar" class="navbar">
            <div id="item1">
                Hello
            </div>
            <div id="item2">
                <h1>World</h1>
            </div>
        </div>
        <div id="map"></div>
    </div>
</body>
</html>