<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Studi</title>


    <link rel="stylesheet" type="text/css" href="../static/css/home.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='studi_icon.ico') }}">
    <script src="../static/js/main/map.js"></script>
    <script src="../extern/api/googlemaps" async defer></script>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/jquery.scrolly.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/main/nav.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.42.0/mapbox-gl.css' rel='stylesheet' />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <div id="container">
        <div id="fixed-elements">
            <div id="top-bar" class="navbar">
                <div id="left-menu">
                    <img src="../static/css/images/menu-icon.svg" alt="Menu" onclick="openSidebar()">
                </div>
                <div id="search-bar">
                    <div id="align-placeholder">
                        <input type="text" id="menu-search-field" class="study-search" value="" placeholder="what do you want to study?" name="study-search">
                    </div>
                </div>
                <div id="right-menu">

                </div>
            </div>
            <div id="info-window" class="info-window">
                <p id="title">Group Topic</p>
                <p id="specific">Group Specific Topic</p>
                <p id="author">Group Owner</p>
                <p id="count">Number of people</p>
                <p id="info">Description</p>
            </div>
        </div>

        <div id="map"></div>
        <!--<script src="../static/js/main/mabbox.js"></script>-->

        <div id="main-sidebar-menu" class="sidebar-menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
            <a href="../create_group">Create Group</a>
            <p>
                Item 2
            </p>
            <p>
                Item 3
            </p>
            <p>
                Item 4
            </p>
            {% if not session.logged_in %}
                <a href="../login" class="login-button">Login or Create Account</a>
            {% else %}
                <a href="../logout" class="logout-button">Logout</a>
            {% endif %}
        </div>
    </div>
    <div id="opaque"></div>
    <div id="loading-info" style="align: center">
        <h1><br><br>Now loading...</h1>
    </div>
</body>
</html>