*,html {
    margin: 0;
}
#map {
    position: absolute;
    top: 0vh;
    bottom: 0;
    width: 100vw;
    margin: 0 0 0 0;
    z-index: 0;
}
#container {
    height: 90vh;
    width: 100%
}
.navbar {
    overflow: hidden;
    background-color: #333;
    margin: 0 15% 0 15%;
    position: absolute;
    top: 4%;
    width: 70%;
    height: 6%;
    z-index: 1;
}

/* Links inside the navbar */
.navbar div {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    height: 100%;
    text-decoration: none;
    font-size: 17px;
    vertical-align: middle;
    z-index: 3;
}

#left-menu {
    width: 33%;
    float: left;
}

#search-bar {
    width: 34%;
    display: inline-block;
    float: left;
}

#right-menu {
    width: 33%;
    float: right;
}