*,html {
    margin: 0;
}

body {
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0vh;
    bottom: 0;
    width: 100vw;
    margin: 0 0 0 0;
    z-index: 0;
}

#opaque {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 9;
    display: none;
    pointer-events: none; /* this might not work on some browsers */
}

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    background-color: #fff;
    top: 1%;
    height: 3em;
    vertical-align: middle;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    border-radius: 5px;
}

.info-window {
    overflow: hidden;
    background-color: #2d6fb1;
    height: 15em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    bottom: 1.3%;
    z-index: 1;
    display: none;
    border-radius: 5px;
    padding: 5px;
    max-width: calc(95% - 10px);
    max-height:65%;
}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
    .navbar {
        margin-left: 10px;
        position: absolute;
        top: 1%;
        width: 430px;
    }
    .info-window {
        margin-right: 10px;
        position: absolute;
        width: 430px;
        right: 10px;
        max-height:70%;
    }
}

@media only screen and (max-width: 767px) {
    /* phones */
    .navbar {
        margin: 0 2.5% 0 2.5%;
        position: absolute;
        top: 1%;
        width: 95%;
    }

    .info-window {
        margin: 0 2.5% 0 2.5%;
        position: absolute;
        width: 95%;
        max-height:70%;
    }
}


/* Links inside the navbar */
.navbar div {
    float: left;
    display: block;
    color: #a9a9a9;
    text-align: left;
    height: 100%;
    text-decoration: none;
    font-size: 24px;
    z-index: 2;
    display: table;
}

.info-window #title {
	font-family: Calibri Light;
	font-weight: bold;
	font-size: 20px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

.info-window #specific {
    font-weight: 100;
    font-size: 20px;
    color: #a9a9a9;
    font-family: Calibri Light, sans-serif;
    padding-left: 10px;
    padding-top: 10px;
}

.info-window #author {
    font-weight: 100px;
    font-size: 15px;
    color: #a9a9a9;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Calibri Light, sans-serif;
}

.info-window #count {
    font-weight: 100px;
    font-size: 15px;
    color: #a9a9a9;
    padding-right: 10px;
    font-family: Calibri Light, sans-serif;
}
.info-window #info {
    font-weight: 100px;
    font-size: 15px;
    color:#000;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Calibri Light, sans-serif;
}
.info-window #more-details {
    padding-right: 10px;
    padding: 10px 10px 10px 10px;
    color: white;
    text-decoration: none;
    font-family: Calibri light, sans-serif;
}

#info-window-inner-div {
	background-color: white;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
	position: relative;
	/* margin: 5px 5px 5px 5px; */
}

#left-menu {
    float: left;
    padding-right: 5%;
    display: table-cell;
    vertical-align: middle;
}

#left-menu img {
    /*menu icon image*/
    padding-top: 7.5%;
    padding-left: 7.5%;
    max-height: 85%;
    opacity: 0.5;
}

#search-bar {
    width: 45%;
    display: table-cell;
    vertical-align: middle;
    float: left;
}

#search-bar input {
    height: 100%;
    border: none;
    left: 0;
    font-size: 17px;
}

#search-bar input:focus {
    outline: none;
}

#right-menu {
    width: 33%;
    float: right;
}

.sidebar-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    overflow-y: hidden;
}

.sidebar-menu a {
    padding: 16px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
}

.sidebar-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#groups-sidebar {
    max-width: 450px;
    z-index: 11;
    background-color: #2d6fb1;
}

#groups-sidebar iframe {
    height: 90%;
    width: 100%;
    border-style: none;
    padding: 0 0 0 0;
	
}
#loading-info {
	font-family:Arial, Helvetica, sans-serif;
	margin:auto;
	text-align:center;
	z-index: 1000;
}

#more-details-div {
	position: absolute;
	bottom: 10px;
	right: 10px;
	border: solid;
	background-color: #2d6fb1;
	border-color: #2d6fb0;
	text-decoration: none;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
	color: white;
	border-radius: 15px;
}
