*,html {
    margin: 0;
}
#map {
    position: absolute;
    top: 0vh;
    bottom: 0;
    width: 100vw;
    margin: 0 0 0 0;
    z-index: 0;
}
#container {
    height: 90vh;
    width: 100%
}

.navbar {
    overflow: hidden;
    background-color: #fff;
    top: 1%;
    height: 3em;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}


@media only screen and (min-width: 511px) {
    /* tablets and desktop */
    .navbar {
        margin-left: 10px;
        position: absolute;
        top: 1%;
        width: 500px;
    }
}

@media only screen and (max-width: 510px) {
    /* phones */
    .navbar {
        margin: 0 2.5% 0 2.5%;
        position: absolute;
        top: 1%;
        width: 95%;
        height: 6%;
    }
}


/* Links inside the navbar */
.navbar div {
    float: left;
    display: block;
    color: #a9a9a9;
    text-align: center;
    height: 100%;
    text-decoration: none;
    font-size: 17px;
    vertical-align: middle;
    z-index: 3;
}

#left-menu {
    width: 33%;
    float: left;
}

#search-bar {
    width: 34%;
    display: inline-block;
    float: left;
}

#right-menu {
    width: 33%;
    float: right;
}